@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutaModel
@{
}
 
<h1>Listado de Ruta</h1>
<table class="table">
    @foreach (var ruta in Model.Ruta)
    {
        <tr>
            <td>@ruta.id</td>
            <td>@ruta.origen</td>
            <td>@ruta.destino</td>
            <td>@ruta.tiempoEstimado</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-rutaId="@ruta.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" href="">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>
