@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" @aeropuerto.nombre>
  <label for="ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad"  @aeropuerto.ciudad>
  <label for="pais" class="form-label"> pais:</label>
  <input type="text" class="form-control" id="pais" name="pais" placeholder="Pais"  @aeropuerto.pais>
  <label for="coordenada X" class="form-label"> Coordenada X:</label>
  <input type="text" class="form-control" id="coordenada X" name="coordenada X" placeholder="Coordenada X"  @aeropuerto.coordenaX>
  <label for="coordenada Y" class="form-label"> coordenada Y:</label>
  <input type="text" class="form-control" id="coordenada Y" name="coordenada Y" placeholder="Coordenada Y"  @aeropuerto.coordenadaY>
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>